@model CinemaMVC.Models.TipoAudio

@{
    ViewBag.Title = "Deletar Tipo Áudio";
}

<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Filmes")">Filmes</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>

</div>

<h3>Are you sure you want to delete this?</h3>
<hr />


<div class="form-horizontal">


    <div class="form-group">
        @Html.Label("Descricao", "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Salas", "Salas Vinculadas", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="w3-container w3-border w3-round-xlarge">
                @foreach (var item in CinemaMVC.Helpers.TipoAudioHelper.GetSalasByTipoAudioID(Model.TipoAudioID))
                {
                    <a href="@Url.Action("Details","Salas",new {id=item.SalaID})">@item.Nome</a>

                    <br />
                }
                <p style="color:white">I have rounded borders.</p>
            </div>
            </div>
        </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="text-center">
            <div class="form-group">
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })
                <input type="submit" value="Deletar" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
