@model IEnumerable<CinemaMVC.Models.TipoAudio>

@{
    ViewBag.Title = "Lista Tipos Áudio";
}

<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Filmes")">Filmes</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-6">
        <div style="text-align:right; padding-top:20px">
            @Html.ActionLink("Adicionar Tipo Áudio", "Create", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TipoAudioID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TipoAudioID }) 

            @if (item.SalaAudioAnimacao == null || item.SalaAudioAnimacao.Count() == 0)
            {
                <span>|</span>@Html.ActionLink("Delete", "Delete", new { id = item.TipoAudioID })
            }

        </td>
    </tr>
}

</table>
