@model CinemaMVC.Models.TipoAnimacao

@{
    ViewBag.Title = "Detalhes Tipo Animação";
}

<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Filmes")">Filmes</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<di class="text-center">
    <div class="form-group">
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-warning" })
        @Html.ActionLink("Editar", "Edit", "TiposAnimacao", new { id = Model.TipoAnimacaoID }, new { @class = "btn btn-primary" })
        <button onclick="ptint()" class="btn btn-info">Imprimir</button>
    </div>
</di>

@section Scripts {

    <script>

        function ptint() {
            Swal.fire({
                icon: 'info',
                title: 'Aviso',
                text: 'Não Implementado'
            })
        }
    </script>
}
