@model IEnumerable<CinemaMVC.Models.TipoAnimacao>

@{
    ViewBag.Title = "Lista de Tipos Animação";
}

<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Filmes")">Filmes</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-6">
        <div style="text-align:right; padding-top:20px">
            @Html.ActionLink("Adicionar Tipo Animação", "Create", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
</div>

<table class="table table-striped table-sm">
    <tr>
        <th>
            Descrição
        </th>
        <th data-type="html"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.TipoAnimacaoID }, new { @class = "btn btn-primary btn-circle fa fa-pencil-square-o", @data_toggle = "tooltip", @data_placement = "top", @title = "Alterar" })
            @Html.ActionLink(" ", "Details", new { id = item.TipoAnimacaoID }, new { @class = "btn btn-primary btn-circle fa fa-eye", @data_toggle = "tooltip", @data_placement = "top", @title = "Visualizar" })

            @if (item.SalaAudioAnimacao == null || item.SalaAudioAnimacao.Count() == 0)
            {
                @Html.ActionLink(" ", "Delete", new { id = item.TipoAnimacaoID }, new { @class = "btn btn-danger btn-circle fa fa-trash-o", @data_toggle = "tooltip", @data_placement = "top", @title = "Deletar" })
            }
            else
            {
                <button class="btn btn-danger btn-circle fa fa-trash-o" disabled="disabled"></button>
            }

        </td>
    </tr>
}

</table>
