@model IEnumerable<CinemaMVC.Models.TipoAnimacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TipoAnimacaoID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TipoAnimacaoID })

            @if (item.SalaAudioAnimacao == null || item.SalaAudioAnimacao.Count() == 0)
            {
                <span>|</span>@Html.ActionLink("Delete", "Delete", new { id = item.TipoAnimacaoID })
            }


        </td>
    </tr>
}

</table>
