<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/bundles/bootstrap-chosen-Styles")

</head>
<body>

    <div id="wrapper">



        <!-- Navigation -->
        @Html.Partial("_Navigation")

        @*Page wraper*@
        <div class="body-content">
            <!-- Top Navbar -->
            @Html.Partial("_LoginPartial")
            <!-- Main view  -->
            @RenderBody()
            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>

        <!-- End page wrapper-->

    </div>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Scripts.Render("~/bundles/bootstrap-chosen")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)


</body>
</html>
