<div class="sidenav">
    <ul class="nav nav-list">
        @*<li class="theme-bg">
            <a href="@Url.Action("Index","Filmes")">
                <img alt="image" style="width:89%" src="~/Images/popcorn.png" />
            </a>
        </li>*@

        <li>
            <a href="@Url.Action("Index", "Salas")">
                <i class="fa fa-users" aria-hidden="true"></i>
                Salas
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Filmes")">
                <i class="fa fa-film" aria-hidden="true"></i>

                Filmes
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Sessoes")">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                Sessões
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "TiposAnimacao")">
                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                Tipos Animação
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "TiposAudio")">
                <i class="fa fa-gears" aria-hidden="true"></i>
                Tipos de Áudio
            </a>
        </li>
    </ul>      
</div>

