@model CinemaMVC.Models.Sessao

@{
    ViewBag.Title = "Detalhes da Sessão";
}

<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Filmes")">Filmes</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-6">
        <div style="text-align:right; padding-top:20px">
            @Html.ActionLink("Adicionar Sessão", "Create", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
</div>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorIngresso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorIngresso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filme.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>


        <dt>
            Animação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaAudioAnimacao.TipoAnimacao.Descricao)
        </dd>

        <dt>
            Áudio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaAudioAnimacao.TipoAudio.Descricao)
        </dd>

    </dl>
</div>
<div class="text-center">
    <div class="form-group">
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-warning" })
        @Html.ActionLink("Editar", "Edit", "Sessoes", new { id = Model.SessaoID }, new { @class = "btn btn-primary" })
        <button onclick="ptint()" class="btn btn-info">Imprimir</button>
    </div>
</div>
@section Scripts {

    <script>

        function ptint() {
            Swal.fire({
                icon: 'info',
                title: 'Aviso',
                text: 'Não Implementado'
            })
        }
    </script>
}