@model IEnumerable<CinemaMVC.Models.vwSessao>

@{
    ViewBag.Title = "Lista de Sessões";
}

<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Filmes")">Filmes</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-6">
        <div style="text-align:right; padding-top:20px">
            @Html.ActionLink("Adicionar Sessão", "Create", null, new { @class = "btn btn-success btn-sm" })
        </div>
    </div>
</div>
@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <tr>
            <th>
                Data
            </th>
            <th>
                Horário
            </th>
            <th>
                Ingresso
            </th>
            <th>
                Filme
            </th>
            <th>
                Sala
            </th>
            <th data-type="html"></th>
        </tr>

        @foreach (var item in Model.OrderBy(d => d.Data).ThenBy(h => h.HorarioInicio))
        {
            var data = item.Data.ToShortDateString();
            var horario = item.HorarioInicio.ToString() + " às " + item.HorarioFim.ToString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorIngresso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFilme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.SessaoID }, new { @class = "btn btn-primary btn-circle fa fa-pencil-square-o", @data_toggle = "tooltip", @data_placement = "top", @title = "Alterar" })
                    @Html.ActionLink(" ", "Details", new { id = item.SessaoID }, new { @class = "btn btn-primary btn-circle fa fa-eye", @data_toggle = "tooltip", @data_placement = "top", @title = "Visualizar" })


                    @if (item.Data.Date < DateTime.Now.Date || (item.Data.Date >= DateTime.Now.AddDays(10)))
                    {
                        @Html.ActionLink(" ", "Delete", new { id = item.SessaoID }, new { @class = "btn btn-danger btn-circle fa fa-trash-o", @data_toggle = "tooltip", @data_placement = "top", @title = "Deletar" })
                    }
                    else
                    {
                        <button class="btn btn-danger btn-circle fa fa-trash-o" disabled="disabled"></button>
                    }

                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="w3-container w3-pale-blue w3-leftbar w3-border-blue">
        <p style="text-align:left"><b>Nenhuma Sessão Cadastrada </b></p>
    </div>
}