@model CinemaMVC.Models.FilmeIndexViewModel

@{
    ViewBag.Title = "Lista de Filmes";
}
<div class="row">
    <div class="col-sm-6">
        <h3>@ViewBag.Title</h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Sessoes")">Sessões</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="panel-group">
                        <div class="panel panel-primary" style="margin-bottom: 0px;">
                            <div class="panel-heading" aria-expanded="false">
                                <div class="panel-title">
                                    <i class="fa fa-filter"></i> Filtrar Filmes
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">

                                    @Html.HiddenFor(model=> model.FilmePerPage)
                                    @Html.HiddenFor(model=>model.CurrentPage)

                                    @using (Ajax.BeginForm("Index", "Filmes", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ajaxUpdateTarget" }))
                                    {

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FilmeID)
                                                @Html.DropDownListFor(model => model.FilmeID, Model.FilmeSelectLIst, "Selecione...", htmlAttributes: new { @class = "col-md-10", id = nameof(Model.FilmeID) })
                                            </div>

                                        </div>


                                        <div class="col-md-6 text-left">
                                            <button type="submit" data-style="expand-left" class="ladda-button btn btn-info">
                                                <span class="ladda-label"><i class="fa fa-search"></i>&nbsp; Pesquisar</span>
                                                <span class="ladda-spinner"></span>
                                            </button>
                                            <a href="@Url.Action("Index", "Filmes")" class="btn btn-danger"><i class="fa fa-refresh"></i> Limpar</a>
                                            @Html.ActionLink("Adicionar Filme", "Create", null, new { @class = "btn btn-success btn-sm" })
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <div id="ajaxUpdateTarget">
                        @Html.Partial("_Index", Model);
                    </div>

                </div>


            </div>




        </div>
    </div>
</div>



@section Scripts {

    <script>
        $(document).ready(function ()
        {
            //Bootstrap Style Dropdown Plugin
            $('#@nameof(Model.FilmeID)').chosen();
        });
    </script>
}
